.promo-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 20px 28px 20px;
  background-color: $color-solitude-1;
  border-radius: 12px;
  flex-grow: 1;
  min-height: 200px;
  height: 100%;

  @include vp-768 {
    padding: 24px;
    min-height: 280px;
  }

  @include vp-1024 {
    background-color: transparent;
    gap: 16px;
    align-items: center;
    padding: 0;
    min-height: 238px;
    gap: 0;
  }

  @include vp-1304 {
    min-height: 216px;
  }

  &__icon {
    color: $color-black-russian;
    height: 32px;
    width: 32px;

    @include vp-1024 {
      color: $color-white;
      background-color: $color-royal-blue-1;
      padding: 16px;
      border-radius: 12px;
      height: 64px;
      width: 64px;
      margin: 0 0 20px 0;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    @include vp-1024 {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      margin: 0 0 16px 0;
    }
  }

  &__note {
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-3;
    margin: 0;

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-royal-blue-1;

    &:hover {
      color: $color-free-speech-blue;
    }

    &:focus {
      color: $color-free-speech-blue;
    }
  }
}
