.promo {
  margin: 0 0 60px 0;
  overflow: hidden;

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__info {
    margin: 0 0 60px 0;

    @include vp-1024 {
      margin: 0 0 100px 0;
    }

    @include vp-1304 {
      margin: 0 0 120px 0;
    }
  }

  &__info-list {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(20, 26, 43, 0.16);

    @include vp-768 {
      padding: 24px;
      gap: 24px;
    }

    @include vp-1024 {
      flex-direction: row;
      gap: 25px;
      padding: 0;
      background: none;
      border-radius: 0;
      box-shadow: none;
    }

    @include vp-1304 {
      gap: 24px;
    }
  }

  &__info-item {
    flex: 1;
  }

  &__info-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;

    @include vp-1024 {
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: $color-solitude-1;
      border-radius: 16px;
      padding: 32px 20px;
    }
  }

  &__info-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    @include vp-1024 {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
  }

  &__info-note {
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-1;

    @include vp-768 {
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-1024 {
      text-align: center;
    }
  }

  &__description {
    margin: 0 0 60px 0;

    @include vp-768 {
      margin: 0 0 76px 0;
    }

    @include vp-1024 {
      margin: 0 0 112px 0;
    }

    @include vp-1304 {
      margin: 0 0 125px 0;
    }
  }

  &__description-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include vp-768 {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 13px;
    }

    @include vp-1024 {
      gap: 60px 25px;
    }

    @include vp-1304 {
      gap: 60px 24px;
    }
  }

  &__description-item {
    display: flex;

    @include vp-768 {
      width: calc(33.33% - 8.67px);
    }

    @include vp-1024 {
      width: calc(33.33% - 16.67px);
    }

    @include vp-1304 {
      width: calc(33.33% - 16px);
    }
  }

  &__description-text {
    display: flex;
    flex-direction: column;

    margin: 0 0 28px 0;

    @include vp-768 {
      margin: 0 0 32px 0;
    }

    @include vp-1024 {
      align-items: center;
      margin: 0 0 60px 0;
    }

    @include vp-1304 {
      margin: 0 0 80px 0;
    }
  }

  &__description-title {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 0 0 16px 0;
    position: relative;
    background-color: $color-white;

    @include vp-768 {
      font-size: 28px;
      line-height: 32px;
    }

    @include vp-1024 {
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.04em;
      text-align: center;
      margin: 0 0 20px 0;
      max-width: 736px;
    }

    &::after {
      content: " ";
      width: 100vw;
      height: 2px;
      background-color: $color-royal-blue-1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      display: none;

      @include vp-1024 {
        display: block;
      }
    }
  }

  &__description-note {
    font-size: 16px;
    line-height: 22px;
    color: $color-storm-grey-1;
    margin: 0;

    @include vp-1024 {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }
}
